/*--DESCRIPCION--*/
.descripcion {
  text-align: center;
  line-height: 28px;
  height: 10%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
}

/*--TOP DESTINATIONS--*/
.destinations {
  background-color: #BBBBBB;
  margin-right: 5%;
  margin-left: 5%;
}

.destinations__contenido {
  position: relative;
  display: inline-block;
}

.destinations__contenido p {
  position: absolute;
  bottom: 5px;
  color: white;
  padding-left: 4%;
}

.destinations__contenido img {
  width: 100%;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 5%;
}

.destinations__contenido:hover {
  cursor: pointer;
  opacity: 60%;
}

/*--ARTICULO APPS--*/
.grid_apps {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "titulo titulo titulo" "google_maps yelp citymapper" "google_translate smartify foursquare" "google_trip transporte xe";
  grid-column-gap: 1.1rem;
  grid-row-gap: 1.1rem;
  grid-auto-flow: column;
  background-color: #BBBBBB;
  margin: 5%;
  padding: 1%;
  padding-bottom: 1%;
}

.grid_apps h3 {
  text-align: center;
}

.apps {
  text-align: center;
}

.titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: titulo;
  color: #e1e1db;
  text-align: center;
  border-radius: 30px;
  background-color: #353A40;
}

.google_translate {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: google_translate;
  text-align: justify;
  padding: 3%;
  background-color: #e1e1db;
  border-radius: 30px;
}

.transporte {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: transporte;
  text-align: justify;
  padding: 3%;
  background-color: #e1e1db;
  border-radius: 30px;
}

.transporte img {
  margin-top: 1%;
  margin-bottom: 2%;
}

.citymapper {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: citymapper;
  text-align: justify;
  padding: 3%;
  background-color: #e1e1db;
  border-radius: 30px;
}

.smartify {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: smartify;
  text-align: justify;
  padding: 3%;
  background-color: #e1e1db;
  border-radius: 30px;
}

.foursquare {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: foursquare;
  text-align: justify;
  padding: 3%;
  background-color: #e1e1db;
  border-radius: 30px;
}

.google_trip {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: google_trip;
  text-align: justify;
  padding: 3%;
  background-color: #e1e1db;
  border-radius: 30px;
}

.google_maps {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: google_maps;
  text-align: justify;
  padding: 3%;
  background-color: #e1e1db;
  border-radius: 30px;
}

.yelp {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: yelp;
  text-align: justify;
  padding: 3%;
  background-color: #e1e1db;
  border-radius: 30px;
}

.xe {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  grid-area: xe;
  text-align: justify;
  padding: 3%;
  background-color: #e1e1db;
  border-radius: 30px;
}

/*--NOSOTROS--*/
.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5%;
  padding: 2%;
  background-color: #BBBBBB;
  border-radius: 10px;
}

.nosotros h2 {
  text-align: center;
}

.nosotros p {
  text-align: center;
  margin: 5%;
}

.nosotros img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width: 240px) and (max-width: 480px) {
  .descripcion {
    font-size: 24px;
    line-height: 28px;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 55%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid_apps {
    margin: 2%;
    margin-top: 15%;
    padding: 2%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "google_maps" "yelp" "citymapper" "google_translate" "smartify" "foursquare" "google_trip" "transporte" "xe";
  }
  .grid_apps p {
    padding: 2%;
  }
  .nosotros h2 {
    font-size: 25px;
    margin-top: 10%;
  }
  .nosotros p {
    font-size: 0.9rem;
  }
  .nosotros__lg {
    display: none;
  }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
  .descripcion {
    font-size: 24px;
    line-height: 28px;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 15%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid_apps {
    margin: 2%;
    padding: auto;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "titulo" "google_maps yelp" "citymapper google_translate" "smartify foursquare" "google_trip transporte" "xe .";
  }
  .nosotros h2 {
    font-size: 25px;
    margin-top: 00%;
  }
  .nosotros p {
    font-size: 0.9rem;
  }
  .nosotros__lg {
    display: none;
  }
}

/*--ESCRITORIO--*/
@media screen and (min-width: 991px) {
  .nosotros__sm {
    display: none;
  }
}

/*--ARTICULO ETIOPIA--*/
#etiopia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5%;
}

#etiopia article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BBBBBB;
  list-style-position: inside;
}

#etiopia img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#etiopia p {
  text-align: justify;
}

.carrusel {
  margin-top: 10%;
}

/*--ARTICULO SUDAFRICA--*/
#sudafrica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10%;
}

#sudafrica article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BBBBBB;
  list-style-position: inside;
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width: 240px) and (max-width: 480px) {
  #etiopia p {
    font-size: 0.9rem;
  }
  #etiopia img {
    width: 100%;
    height: auto;
  }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
  #etiopia p {
    font-size: 0.9rem;
  }
  #etiopia img {
    width: 100%;
    height: auto;
  }
}

/*--ESCRITORIO--*/
@media screen and (min-width: 991px) {
  #etiopia article {
    -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.24));
            filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.24));
  }
  #sudafrica article {
    -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.24));
            filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.24));
  }
}

/*--ARTICULO NYC--*/
#nyc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

#nyc article {
  background-color: #BBBBBB;
  padding: 2%;
}

#nyc article .card {
  margin: 1%;
  background-color: #e1e1db;
  border: none;
  -webkit-transition-property: initial;
  transition-property: initial;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#nyc article .card h2 {
  padding-bottom: 3%;
}

#nyc article .card p {
  text-align: justify;
  padding: 4%;
}

#nyc article .card img {
  padding: 0%;
  margin: 0%;
  background-size: cover;
  width: 100%;
  border: none;
  cursor: pointer;
}

#nyc .card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.card-body {
  padding: 0% !important;
}

#card__nyc h3 {
  text-align: center;
  color: white;
  font-weight: bold;
}

.card-img-overlay {
  top: auto;
  bottom: 46%;
  margin-bottom: 0%;
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width: 240px) and (max-width: 480px) {
  #nyc img {
    margin: 5%;
    width: 100%;
    height: auto;
  }
  #nyc .card {
    margin-bottom: 6% !important;
  }
  #nyc h2 {
    margin-bottom: 8%;
  }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
  #nyc img {
    margin: 5%;
    width: 100%;
    height: auto;
  }
  #nyc .card {
    margin-bottom: 6% !important;
  }
}

/*--ARTICULO BARILOCHE--*/
#bariloche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 2%;
}

#bariloche article {
  background-color: #BBBBBB;
  width: auto;
}

#bariloche article p {
  margin: 2%;
  text-align: justify;
}

#bariloche article h2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.grid__bariloche {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1.3rem;
  grid-row-gap: 1.3rem;
  margin-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.grid__bariloche h3 {
  text-align: center;
  font-weight: bold;
}

.grid__bariloche img {
  position: absolute;
}

.back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  opacity: 60%;
  background-color: #e1e1db;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 341px;
  height: 306px;
}

.back h3 {
  position: relative;
  top: 3%;
  padding: 30px;
  font-weight: bold;
  text-align: center;
}

.back li {
  position: relative;
  text-align: center;
  list-style: none;
}

.front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.lagos:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}

.lagos:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  cursor: pointer;
}

.comidas:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}

.comidas:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  cursor: pointer;
}

.cerros:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}

.cerros:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  cursor: pointer;
}

.hoteles:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}

.hoteles:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  cursor: pointer;
}

.cerveza:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}

.cerveza:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  cursor: pointer;
}

.playas:hover .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  cursor: pointer;
}

.playas:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  cursor: pointer;
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media (min-width: 240px) and (max-width: 480px) {
  .grid__bariloche {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 1%;
    grid-row-gap: 1%;
  }
  h2 {
    margin-bottom: 5% !important;
  }
  .front img {
    width: 90%;
    height: auto;
  }
}

/*--TABLET--*/
@media (min-width: 481px) and (max-width: 991px) {
  .grid__bariloche {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    margin: 3%;
    padding-bottom: 1%;
  }
  .grid__bariloche img {
    width: 90%;
    height: auto;
  }
}

/*--EUROPA--*/
#europa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

/*--ARTICULO PARIS--*/
.paris__sec article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BBBBBB;
  list-style-position: inside;
  text-align: justify;
  margin: 2%;
}

.paris__sec article li {
  margin: 1%;
}

.paris__sec article p {
  margin: 2%;
}

.paris__sec article img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1%;
}

.paris__sec article h2 {
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 2%;
}

/*--ARTICULO ROMA--*/
.roma__sec {
  text-align: justify;
  margin-bottom: 2%;
}

.roma__sec article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BBBBBB;
  list-style-position: inside;
  width: auto;
  height: 60%;
}

.roma__sec article li {
  margin-left: 2%;
}

.roma__sec article h2 {
  margin: 5%;
  padding-top: 2%;
}

.roma__sec article p {
  margin-left: 1%;
  margin-right: 2%;
  margin-top: 2%;
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width: 240px) and (max-width: 480px) {
  .paris__sec article h2 {
    margin: 5%;
  }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
  .paris__sec article h2 {
    margin: 5%;
  }
}

.formulario {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10%;
  padding: 1%;
  border-radius: 5px;
  background-color: #989896;
}

.btn {
  background-color: #353A40;
  border: #353A40;
}

/*--ARTICULO TURQUIA--*/
#israel article {
  background-color: #BBBBBB;
  margin: 5%;
  padding: 2%;
}

#israel p {
  text-align: justify;
  list-style-position: inside;
}

.israel__grid {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "vertical h_1 h_2" "vertical h_3 h_3";
  grid-gap: 1%;
}

.vertical {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: vertical;
}

.vertical img {
  width: 250px;
  height: 500px;
  -webkit-box-shadow: 3px 3px 5px 5px #6b6e6c;
          box-shadow: 3px 3px 5px 5px #6b6e6c;
}

.h_1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: h_1;
}

.h_1 img {
  width: 195px;
  height: 250px;
  -webkit-box-shadow: 3px 3px 5px 5px #6b6e6c;
          box-shadow: 3px 3px 5px 5px #6b6e6c;
}

.h_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: h_2;
}

.h_2 img {
  width: 195px;
  height: 250px;
  -webkit-box-shadow: 3px 3px 5px 5px #6b6e6c;
          box-shadow: 3px 3px 5px 5px #6b6e6c;
}

.h_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: h_3;
}

.h_3 img {
  width: 400px;
  height: 245px;
  -webkit-box-shadow: 3px 3px 5px 5px #6b6e6c;
          box-shadow: 3px 3px 5px 5px #6b6e6c;
}

.lightbox {
  display: none;
  position: absolute;
  background-color: black;
  opacity: 0.8;
}

.lightbox h4 {
  color: white;
  text-align: center;
  margin-top: 15%;
}

.lightbox:target {
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 148%;
}

.israel__img {
  width: 100%;
  height: auto;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.israel__img img {
  width: 100%;
  height: auto;
  opacity: 1;
}

.israel__img a {
  color: white;
  font-size: 40px;
  text-decoration: none;
  margin: 0 10px;
}

.israel__img a:nth-child(2) {
  -ms-flex-negative: 2;
      flex-shrink: 2;
  margin: 0;
  height: 100%;
}

.cerrar {
  display: block;
  top: 60px;
  right: 60px;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  text-decoration: none;
  text-align: center;
  margin: 15px auto;
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width: 240px) and (max-width: 480px) {
  .israel__grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "h_1" "h_2" "h_3" "vertical";
  }
  .israel__grid img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .h3 {
    width: 100%;
    height: auto;
  }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
  .israel__grid {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "h_1" "h_2" "h_3" "vertical";
  }
  .israel__grid img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .h3 img {
    width: 100%;
    height: auto;
  }
}

/*--BODY--*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Sansita', sans-serif;
  background-image: url("../img/mapamundi.jpg");
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

h1 {
  text-align: center;
  margin: 3%;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Open Sans', sans-serif;
}

#shadow {
  -webkit-filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.24));
          filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.24));
}

.boton {
  background-color: #353A40;
  border: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
}

.extension {
  background-color: #BBBBBB;
}

/*--HEADER--*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#menu {
  height: 8rem;
  padding-top: .5rem;
}

.logo {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.logo_a {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.logo_a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*--REDES SOCIALES--*/
.grid__footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  background-color: #353A40;
}

.copy {
  color: white;
  margin-left: 10%;
  margin-top: 4%;
}

.sociales {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.sociales img {
  margin: 2%;
  -webkit-transform: translateX(-15%);
          transform: translateX(-15%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sociales img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width: 240px) and (max-width: 480px) {
  #body {
    background-image: none;
    background-color: #BBBBBB;
  }
  .logo {
    display: none;
  }
  .grid__footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .copy {
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    margin: 0%;
    padding: 4%;
    padding-top: 6%;
    width: 65%;
  }
  .sociales {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 2%;
    margin-left: 16%;
    width: 47%;
  }
  .sociales__lg {
    display: none;
  }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
  .logo_a {
    display: none;
  }
  .sociales {
    width: 22%;
  }
  .sociales__lg {
    display: none;
  }
}

/*--ESCRITORIO--*/
@media screen and (min-width: 991px) {
  .logo_a {
    display: none;
  }
  .sociales {
    width: 35%;
  }
  .sociales__sm {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */