/*--DESCRIPCION--*/
.descripcion {
  text-align: center;
  line-height: 28px;
  height: 10%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
}

/*--TOP DESTINATIONS--*/
.destinations {
  margin-bottom: 10%;
  background-color: #BBBBBB;
}

.destinations a {
  color: white;
  font-size: 30px;
  margin-top: 55px;
}

.destinations .card {
  margin: 30px;
  display: flow-root;
}

/*--ARTICULO APPS--*/
.apps__sec {
  background-color: #BBBBBB;
}

#apps__titulo {
  background-color: #353A40 !important;
}

#apps__titulo__escritorio {
  background-color: #353A40 !important;
}

/*--NOSOTROS--*/
.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10%;
  padding: 2%;
  background-color: #BBBBBB;
}

.nosotros h2 {
  text-align: center;
}

.nosotros p {
  text-align: center;
}

.nosotros img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media (min-width: 240px) and (max-width: 480px) {
  .descripcion {
    font-size: 24px;
    line-height: 28px;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 55%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros h2 {
    font-size: 25px;
  }
  .nosotros p {
    font-size: 0.9rem;
  }
  .nosotros img {
    display: none;
  }
  #apps__titulo {
    display: none;
  }
}

/*--TABLET--*/
@media (min-width: 481px) and (max-width: 991px) {
  .descripcion {
    font-size: 24px;
    line-height: 28px;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 15%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nosotros h2 {
    font-size: 25px;
  }
  .nosotros p {
    font-size: 0.9rem;
  }
  .nosotros img {
    display: none;
  }
  #apps__titulo {
    display: none;
  }
}

/*--ESCRITORIO--*/
@media (min-width: 992px) {
  #apps__titulo__escritorio {
    display: none;
  }
}

/*--VARIOS--*/
h1 {
  text-align: center;
}

/*--ARTICULO ETIOPIA--*/
.etiopia__sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10%;
}

.etiopia__sec article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BBBBBB;
  list-style-position: inside;
}

.etiopia__sec img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*--ARTICULO SUDAFRICA--*/
.sudafrica__sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10%;
}

.sudafrica__sec article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BBBBBB;
  list-style-position: inside;
}

/*--RESPONSIVE--*/
/*--Tablet--*/
@media (min-width: 481px) and (max-width: 991px) {
  #etiopia p {
    font-size: 0.9rem;
  }
  #etiopia img {
    margin: 5% 5% 5% 5%;
    width: 95%;
  }
  #sudafrica img {
    margin: 5% 5% 5% 5%;
    height: 95%;
  }
}

/*--Celular--*/
@media (min-width: 240px) and (max-width: 480px) {
  #etiopia p {
    font-size: 0.9rem;
  }
  #etiopia img {
    margin: 5% 5% 5% 5%;
    width: 100%;
  }
  #sudafrica img {
    margin: 5% 5% 5% 5%;
    height: 95%;
  }
}

/*--ARTICULO NYC--*/
.nyc__sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.nyc__sec article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: 80%;
  list-style-position: inside;
  background-color: #BBBBBB;
  margin-bottom: 1%;
}

.nyc__sec article img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nyc__sec article h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.nyc__sec article p {
  margin: 2%;
}

.nyc__sec article li {
  margin: 2%;
}

/*--RESPONSIVE--*/
/*--Tablet--*/
@media (min-width: 481px) and (max-width: 991px) {
  #nyc p {
    font-size: 0.9rem;
  }
  #nyc img {
    margin: 5% 5% 5% 5%;
    width: 95%;
  }
}

/*--Celular--*/
@media (min-width: 240px) and (max-width: 480px) {
  #nyc p {
    font-size: 0.9rem;
  }
  #nyc img {
    margin: 5% 5% 5% 5%;
    width: 100%;
  }
}

/*--ARTICULO BARILOCHE--*/
.bariloche__sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.bariloche__sec article {
  width: 50%;
  height: 80%;
  background-color: #BBBBBB;
}

.bariloche__sec article p {
  margin: 2%;
}

.bariloche__sec article h2 {
  text-align: center;
}

.bariloche__sec article iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 4%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*--RESPONSIVE--*/
/*--Tablet--*/
@media (min-width: 481px) and (max-width: 991px) {
  #bariloche p {
    font-size: 0.9rem;
  }
  #bariloche img {
    margin: 5% 5% 5% 5%;
    width: 95%;
  }
}

/*--Celular--*/
@media (min-width: 240px) and (max-width: 480px) {
  #bariloche p {
    font-size: 0.9rem;
  }
  #bariloche img {
    margin: 5% 5% 5% 5%;
    width: 100%;
  }
}

/*--EUROPA--*/
#europa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

/*--ARTICULO PARIS--*/
.paris__sec {
  margin: 5%;
  margin-right: -15%;
}

.paris__sec article {
  border: solid;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BBBBBB;
  list-style-position: inside;
  margin: 2%;
}

.paris__sec article li {
  margin: 1%;
}

.paris__sec article p {
  margin: 1%;
}

.paris__sec article img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1%;
  margin-left: 40%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.paris__sec article h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*--ARTICULO ROMA--*/
.roma__sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.roma__sec article {
  border: solid;
  border-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #BBBBBB;
  list-style-position: inside;
  width: auto;
  height: 60%;
}

.roma__sec article li {
  margin-left: 2%;
}

.roma__sec article h2 {
  margin: 5%;
}

.roma__sec article p {
  margin-left: 2%;
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
/*--TABLET--*/
.formulario {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid;
  margin: 10%;
  padding: 1%;
  border-radius: 5px;
  background-color: #BBBBBB;
}

/*--BODY--*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Sansita', sans-serif;
  background-image: url("../img/mapamundi.jpg");
}

#body {
  margin-top: 5%;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
  color: black;
}

h1 {
  color: black;
}

/*--HEADER--*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#menu {
  height: 8rem;
  padding-top: .5rem;
}

.logo {
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.logo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*--REDES SOCIALES--*/
.social {
  background-color: #353A40;
}

.social .social__copy {
  padding: 2%;
}

.social .social__copy p {
  color: white;
  margin-left: 2%;
}

.social img {
  margin: 15%;
  padding: 25%;
}

/*--RESPONSIVE--*/
/*--Tablet--*/
@media (min-width: 481px) and (max-width: 991px) {
  .social img {
    margin: 2%;
    padding: 2%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social__copy {
    text-align: center;
  }
  #body {
    padding-right: 15px;
    padding-left: 15px;
    height: 1024px;
  }
}

/*--Celular--*/
@media (min-width: 240px) and (max-width: 480px) {
  .social img {
    margin: 1%;
    padding: 1%;
    height: 30px;
    width: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social__copy {
    text-align: center;
  }
  .social__copy p {
    font-size: small;
  }
  #body {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/*# sourceMappingURL=main.css.map */