/*--VARIOS--*/
h1{
    text-align: center;
}

/*--ARTICULO ETIOPIA--*/
.etiopia__sec{
    display: flex;
    justify-content: center;
    margin: 10%;
    article{
            justify-content: center;
            background-color: $gris;
            list-style-position: inside;
    }
    img{
        display: flex;
        margin: auto;
        flex-direction: row;
    }
}
/*--ARTICULO SUDAFRICA--*/
.sudafrica__sec{
    display: flex;
    justify-content: center;
    margin: 10%;
    article{
            justify-content: center;
            background-color: $gris;
            list-style-position: inside;
    }
}

/*--RESPONSIVE--*/

/*--Tablet--*/
@media (min-width: 481px) and (max-width: 991px) {
    #etiopia {
        p{
            font-size: 0.9rem;
        }
        img{
            margin: 5% 5% 5% 5%;
            width: 95%;
        }
    }
    #sudafrica{
        img{
            margin: 5% 5% 5% 5%;
            height: 95%;
        }
    }
}

/*--Celular--*/
@media (min-width:240px) and (max-width:480px){
    #etiopia {
        p{
            font-size: 0.9rem;
        }
        img{
            margin: 5% 5% 5% 5%;
            width: 100%;
        }
    }
    #sudafrica{
        img{
            margin: 5% 5% 5% 5%;
            height: 95%;
        }
    }
}   

