/*--ARTICULO ETIOPIA--*/
#etiopia{
    display: flex;
    justify-content: center;
    margin: 5%;
    article{
            justify-content: center;
            background-color: $gris;
            list-style-position: inside;
    }
    img{
        display: flex;
        margin: auto;
        margin-top: 2%;
        margin-bottom: 2%;
        flex-direction: row;
        border-radius: 5%;
    }
    p{
        text-align: justify;
    }
}
.carrusel{
    margin-top: 10%;
}

/*--ARTICULO SUDAFRICA--*/
#sudafrica{
    display: flex;
    justify-content: center;
    margin: 10%;
    article{
            justify-content: center;
            background-color: $gris;
            list-style-position: inside;
    }
    img{
        border-radius: 5%;
    }
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width:240px) and (max-width:480px){
    #etiopia {
        p{
            font-size: 0.9rem;
        }
        img{
            width: 90%;
        }
    }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
    #etiopia {
        p{
            font-size: 0.9rem;
        }
        img{
            width: 95%;
        }
    }
}

/*--ESCRITORIO--*/
@media screen and (min-width: 991px) {
    #etiopia {
        article{
        filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.24));
        border-radius: 5%;

        }
    }
}

