/*--ARTICULO BARILOCHE--*/
#bariloche{
    display: flex;
    justify-content: center;
    margin: auto;
    article{
        background-color: $gris;
        p{
            margin: 2%;
            text-align: justify;
        }
        h2{
            text-align: center;
        }
    }
}
.grid__bariloche{
    display: grid;
    grid-template-areas:"imagen_bariloche lagos hoteles"
                        "imagen_bariloche cerros comidas";
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.1rem;
    margin: 3%;
    padding-bottom: 1%;
    h4{
        text-align: center;
        font-weight: bold;
    }
}
.imagen_bariloche{
    grid-area: imagen_bariloche;
    padding: 2%;
    border-radius: 30px;
    img{
        border-radius: 30px;
    }
}
.lagos{
    grid-area: lagos;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
    list-style-position: inside;
}
.comidas{
    grid-area: comidas;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
    list-style-position: inside;
}
.hoteles{
    grid-area: hoteles;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
    list-style-position: inside;
}
.cerros{
    grid-area: cerros;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
    list-style-position: inside;
}
.boton__america{
    margin-left: 36%;
}
.back{
	display: flex;
	flex-direction: column;
	justify-items: center;
    opacity: 70%;
    backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 800ms;
    transition-timing-function: linear;
    transform: rotateY(180deg);
    h4{
        position: relative;
        top:10%;
        padding: 30px;
        font-weight:bold;
        text-align: center;
    }
    li{
        position: relative;
        top:30%;
        text-align: center;
    }
}
.front{ 
    backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 800ms;
    transition-timing-function: linear;
    position: absolute;
}
.lagos:hover .front{
            transform: rotateY(-180deg);
            cursor: pointer;
}
.lagos:hover .back{
            transform: rotateY(0deg);
            cursor: pointer;
}
.comidas:hover .front{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.comidas:hover .back{
    transform: rotateY(0deg);
    cursor: pointer;
}
.cerros:hover .front{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.cerros:hover .back{
    transform: rotateY(0deg);
    cursor: pointer;
}
.hoteles:hover .front{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.hoteles:hover .back{
    transform: rotateY(0deg);
    cursor: pointer;
}
/*--RESPONSIVE--*/
/*--Celular--*/
@media (min-width:240px) and (max-width:480px) {
    .grid__bariloche{
        display: grid;
        grid-template-areas:"imagen_bariloche"
                            "lagos"
                            "cerros"
                            "hoteles"
                            "comidas";
        margin: 3%;
        padding-bottom: 1%;      
    }
}

/*--Tablet--*/
@media (min-width: 481px) and (max-width: 991px) {
    .grid__bariloche{
        display: grid;
        grid-template-areas:"imagen_bariloche"
                            "lagos"
                            "cerros"
                            "hoteles"
                            "comidas";
        margin: 3%;
        padding-bottom: 1%;
    }
}
