/*--ARTICULO NYC--*/
#nyc{
    display: flex;
    justify-content: center;
    margin: auto;
    article{
        background-color: $gris;
        padding: 2%;
        .card{
            margin: 1%;
            background-color: $verde_apps;
            border: none;
            transition-property: initial;
            transition-duration: 0.3s;
            transition-timing-function: ease;
            transition-delay: 0s;
            transform: scale(1);
            h2{
                padding-bottom: 3%;
            }
            p{
                text-align: justify;
                padding: 4%;
            }
            img{
                padding: 0%;
                margin: 0%;
                background-size: cover;
                width: 100%;
                border: none;
                cursor: pointer;
            }
        }
    }
}
#nyc .card:hover{
    transform: scale(1.04);
}
.card-body{
    padding: 0%!important;
}
#card__nyc{
    h3{
        text-align: center;
        color: white;
        font-weight: bold;
    }
}
.card-img-overlay{
    top: auto;
    bottom: 46%;
    margin-bottom: 0%;
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width:240px) and (max-width:480px) {
    #nyc {
        img{
            margin: 5%;
            width: 100%;
            height: auto;
        }
        .card{
            margin-bottom: 6%!important;
        }
        h2{
            margin-bottom: 8%;
        }
    }   
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
    #nyc{
        img{
            margin: 5%;
            width: 100%;
            height: auto;
        }
        .card{
            margin-bottom: 6%!important;
        }
    }
}