/*--ARTICULO NYC--*/
#nyc{
    display: flex;
    justify-content: center;
    margin: auto;
    article{
        /*--width: 85%;
        height: 80%;--*/
        list-style-position: inside;
        background-color: red;
        margin-bottom: 1%;
        img{
            display: flex;
            margin: auto;
        }
        h2{
            margin: 2%;
        }
        p{
            margin: 2%;
            text-align: justify;
        }
        li{
            margin: 2%;
        }
    }
}

/*--RESPONSIVE--*/
/*--Tablet--*/
@media (min-width: 481px) and (max-width: 991px) {
    #nyc{
        p{
            font-size: 0.9rem;
        }
        img{
            margin: 5%;
            width: 95%;
        }
    }
}

/*--Celular--*/
@media (min-width:240px) and (max-width:480px) {
    #nyc {
        p{
            font-size: 0.9rem;
        }
        img{
            margin: 5%;
            width: 100%;
        }
    }   
}
