/*--ARTICULO BARILOCHE--*/
#bariloche{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 2%;
    article{
        background-color: $gris;
        width: auto;
        p{
            margin: 2%;
            text-align: justify;
        }
        h2{
            text-align: center;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }
}
.grid__bariloche{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1.3rem;
    grid-row-gap: 1.3rem;    
    margin-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    h3{
        text-align: center;
        font-weight: bold;
    }
    img{
        position: absolute;
    }
}
.back{
	display: flex;
	flex-direction: column;
	justify-items: center;
    opacity: 60%;
    background-color: $verde_apps;
    backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 800ms;
    transition-timing-function: linear;
    transform: rotateY(180deg);
    width: 341px;
    height: 306px;
    h3{
        position: relative;
        top: 3%;
        padding: 30px;
        font-weight:bold;
        text-align: center;
    }
    li{
        position: relative;
        text-align: center;
        list-style:none;
    }
}
.front{ 
    backface-visibility: hidden;
    transition-property: transform;
    transition-duration: 800ms;
    transition-timing-function: linear;
}
.lagos:hover .front{
            transform: rotateY(-180deg);
            cursor: pointer;
}
.lagos:hover .back{
            transform: rotateY(0deg);
            cursor: pointer;
}
.comidas:hover .front{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.comidas:hover .back{
    transform: rotateY(0deg);
    cursor: pointer;
}
.cerros:hover .front{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.cerros:hover .back{
    transform: rotateY(0deg);
    cursor: pointer;
}
.hoteles:hover .front{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.hoteles:hover .back{
    transform: rotateY(0deg);
    cursor: pointer;
}
.cerveza:hover .front{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.cerveza:hover .back{
    transform: rotateY(0deg);
    cursor: pointer;
}
.playas:hover .front{
    transform: rotateY(-180deg);
    cursor: pointer;
}
.playas:hover .back{
    transform: rotateY(0deg);
    cursor: pointer;
}
/*--RESPONSIVE--*/
/*--CELULAR--*/
@media (min-width:240px) and (max-width:480px) {
    .grid__bariloche{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 3%;
        padding-bottom: 1%;
        grid-roow-gap: 5%;
        img{
            width: 100%;
            height: auto;
        }
    }
}

/*--TABLET--*/
@media (min-width: 481px) and (max-width: 991px) {
    .grid__bariloche{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 3%;
        padding-bottom: 1%;
        img{
            width: 100%;
            height: auto;
        }
    }
}
