/*--ARTICULO BARILOCHE--*/
#bariloche{
    display: flex;
    justify-content: center;
    margin: auto;
    article{  
        background-color: $gris;
        p{
            margin: 2%;
            text-align: justify;
        }
        h2{
            display: flex;
            text-align: center;
            margin-left: 10%;
        }
        iframe{
            display: flex;
            margin-bottom: 3%;
            width: 100%;
        }
    }
}

/*--RESPONSIVE--*/
/*--Tablet--*/
@media (min-width: 481px) and (max-width: 991px) {
    #bariloche {
        iframe{
            width: 100%;
        }
}
}
/*--Celular--*/
@media (min-width:240px) and (max-width:480px) {
    #bariloche {
        iframe{
            width: 100%;
        }   
    }
}