/*--ARTICULO TURQUIA--*/
#turquia{
    display: flex;
    justify-content: center;
    article{
        background-color: $gris;
        margin-bottom: 1%;
        list-style-position: inside;
        p{
            margin: 2%;
            text-align: justify;
        }
    }
}


/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width:240px) and (max-width:480px) {
    .celular{
        display: none;
    }
    .escritorio{
        margin: 7%;
        padding: 0%;
        width: 100%;
    }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
    .escritorio{
        display: none;
    }
    .celular{
        img{
        margin-top: 35%;
        margin-left: 10%;
    }
}
}

/*--ESCRITORIO--*/
@media screen and (min-width: 991px) {
    .escritorio{
        display: none;
    }
    .celular{
        img{
            margin-top: 10%;
            margin-left: 35%;
        }
    }
}   