/*--ARTICULO TURQUIA--*/
#israel{
    article{
        background-color: $gris;
        margin: 5%;
        padding: 2%;
    }
    p{
        text-align: justify;
        list-style-position: inside;
    }
}
.israel__grid{
    display: grid;
    grid-template-areas:"vertical h_1 h_2"
                        "vertical h_3 h_3";
    grid-gap: 1%;

}
.vertical{
    display: grid;
    grid-area: vertical;
    img{
        width: 250px;
        height: 500px;
        box-shadow: 3px 3px 5px 6px #ccc;
    }
}
.h_1{
    display: grid;
    grid-area: h_1;
    img{
        width: 195px;
        height: 250px;
        box-shadow: 3px 3px 5px 6px #ccc;
    }
}

.h_2{
    display: grid;
    grid-area: h_2;
    img{
        width: 195px;
        height: 250px;
        box-shadow: 3px 3px 5px 6px #black;
    }
}
.h_3{
    display: grid;
    grid-area: h_3;
    img{
        width: 400px;
        height: 245px;
        box-shadow: 3px 3px 5px 6px #ccc;
    }
}

.lightbox{
    display: none;
    h4{
        color: white;
        text-align: center;
        margin-top: 15%;
    }
}
.lightbox:target {
    display: block;
    background: rgba (0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.israel__img{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        height: 100%;
    }
    a{
        color: white;
        font-size: 40px;
        text-decoration: none;
        margin: 0 10px;
    }
}
.israel__img a:nth-child(2){
    flex-shrink: 2;
    margin: 0;
    height: 100%;
}
.cerrar{
    display: block;
    line-height: 25px;
    position: absolute;
    font-size: 20px;
    top: 60px;
    right: 60px;
    background:black;
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    height: 25px;
    text-decoration: none;
    text-align: center;
    margin: 15px auto;
}


/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width:240px) and (max-width:480px) {
    .israel__grid{
        display: grid;
        grid-template-areas:    "h_1"
                                "h_2"
                                "h_3"
                                "vertical";
        img{
            justify-content: center;
            align-items: center;
        }
    }
    .h3{
        width: 100%;
        height: auto;
    }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
    .israel__grid{
        display: grid;
        grid-template-areas:    "h_1"
                                "h_2"
                                "h_3"
                                "vertical";
        img{
            justify-content: center;
            align-items: center;
        }
    }
    .h3{
        img{
            width: 100%;
            height: auto;
        }
    }
}