/*--ARTICULO TURQUIA--*/
#turquia{
    display: flex;
    justify-content: center;
    article{
        background-color: $gris;
        margin-bottom: 1%;
        list-style-position: inside;
        p{
            margin: 2%;
            text-align: justify;
        }
    }
}


/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width:240px) and (max-width:480px) {
 
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {

}

/*--ESCRITORIO--*/
@media screen and (min-width: 991px) {

}   