/*--EUROPA--*/
#europa{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/*--ARTICULO PARIS--*/
.paris__sec{
    margin: 5%;
    margin-right: -15%;
    article{
        border: solid;
        border-radius: 5px;
        justify-content: center;
        background-color: $gris;
        list-style-position: inside;
        margin: 2%;
            li{
                margin: 1%;
            }
            p{
                margin: 1%;
            }
            img{
                display: flex;
                margin: 1%;
                margin-left: 40%;
                flex-direction: row;
            }
            h2{
                display: flex;
                margin-left: 15%;
                flex-direction: row;
            }
    }
}



/*--ARTICULO ROMA--*/
.roma__sec{
    display: flex;
    justify-content: center;
    margin: auto;
    article{
        border: solid;
        border-radius: 5px;
        justify-content: center;
        background-color: $gris;
        list-style-position: inside;
        width: auto;
        height: 60%;
            li{
                margin-left: 2%;
            }
            h2{
                margin: 5%;
            }
            p{
                margin-left: 2%;
            }
    }
}
