/*--EUROPA--*/
#europa{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

/*--ARTICULO PARIS--*/
.paris__sec{
    article{
        justify-content: center;
        background-color: $gris;
        list-style-position: inside;
        text-align: justify;
        margin: 2%;
        li{
            margin: 1%;
        }
        p{
            margin: 2%;
        }
        img{
            display: flex;
            margin: 1%;
        }
        h2{
            margin-top: 5%;
            margin-bottom: 5%;
            padding-top: 2%;
        }
    }
}

/*--ARTICULO ROMA--*/
.roma__sec{
    text-align: justify;
    margin-bottom: 2%;
    article{
        justify-content: center;
        background-color: $gris;
        list-style-position: inside;
        width: auto;
        height: 60%;
        li{
            margin-left: 2%;
        }
        h2{
            margin: 5%;
            padding-top: 2%;
        }
        p{
            margin-left: 1%;
            margin-right: 2%;
            margin-top: 2%;
        }
    }
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media screen and (min-width:240px) and (max-width:480px) {
    .paris__sec{
        article{
            h2{
            margin: 5%;
            }
        }
    }
}

/*--TABLET--*/
@media screen and (min-width: 481px) and (max-width: 991px) {
    .paris__sec{
        article{
            h2{
            margin: 5%;
            }
        }
    }
}