/*--EUROPA--*/
#europa{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.boton{
    background-color: $gris_nav;
    border: black;
    color: white;
    display: flex;
    justify-items: center;
}
.extension{
    background-color: $gris;
}

/*--ARTICULO PARIS--*/
.paris__sec{
    article{
        justify-content: center;
        background-color: $gris;
        list-style-position: inside;
        text-align: justify;
        margin: 2%;
        li{
            margin: 1%;
        }
        p{
            margin: 1%;
        }
        img{
            display: flex;
            margin: 1%;
        }
        h2{
            margin: 2%;
            text-align: center;
        }
    }
}

/*--ARTICULO ROMA--*/
.roma__sec{
    text-align: justify;
    margin-bottom: 2%;
    article{
        justify-content: center;
        background-color: $gris;
        list-style-position: inside;
        width: auto;
        height: 60%;
        li{
            margin-left: 2%;
        }
        h2{
            margin: 5%;
            text-align: center;
        }
        p{
            margin-left: 1%;
            margin-right: 1%;
        }
    }
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media (min-width:240px) and (max-width:480px) {
    .paris__sec{
        article{
            h2{
            margin: 5%;
            text-align: center;
            }
        }
    }
}

/*--TABLET--*/
@media (min-width: 481px) and (max-width: 991px) {
    .paris__sec{
        article{
            h2{
            margin: 5%;
            text-align: center;
            }
        }
    }
}