/*--BODY--*/
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Sansita', sans-serif;
    background-image: url("../img/mapamundi.jpg");
}
a{
    text-decoration: none;
}
p{
    line-height: 1.6;
}
h1{
    color: black;
    text-align: center;
    margin: 3%;
}
#shadow{
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.24));
}

/*--HEADER--*/
header{
    display: flex;
}
.menu__flex{
    display: flex;
    padding: 10%;
    flex-direction: row;
}
#menu{
    height: 8rem;
    padding-top:.5rem;
}
.logo{
    transition: transform .2s;
}
.logo:hover{
    transform: scale(1.1);
}
.logo_a{
    transition: transform .2s;
}
.logo_a:hover{
    transform: scale(1.1);
}

/*--REDES SOCIALES--*/
.grid__footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    background-color: $gris_nav;
}
.copy{
    color: white;
    margin-left: 10%;
    margin-top: 4%;
}
.sociales{
    justify-self: end;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    img{
        margin: 2%;
        transform: translateX(-15%);
        transition: 0.5s;
        }
}
.sociales img:hover {
    transform: scale(1.1);
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media (min-width:240px) and (max-width:480px) {
    .logo{
        display: none;
    }
    .grid__footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .copy{
        justify-self: center;
        margin: 0%;
        padding: 4%;
        padding-top: 6%;
    }
    .sociales{
        justify-self: center;
        margin-bottom: 2%;
        margin-right: 0%;
        width: 55%;
    }
}

/*--TABLET--*/
@media (min-width: 481px) and (max-width: 991px) {
        .logo_a{
        display: none;
    }
    .grid__footer{
        display: grid;
        grid-template-columns: 1fr;
    }
    .copy{
        justify-self: center;
        margin: 0%;
        padding-top: 2%;
    }
    .sociales{
        justify-self: center;
        margin-bottom: 2%;
        margin-right: 0%;
        width: 22%;
    }
}

/*--ESCRITORIO--*/
@media (min-width: 991px) {
    .logo_a{
        display: none;
    }
    .sociales{
        width: 35%;
    }
}