/*--BODY--*/
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Sansita', sans-serif;
    background-image: url("../img/mapamundi.jpg");
}

a{
    text-decoration: none;
}
p{
    line-height: 1.6;
}
h1{
    color: black;
    text-align: center;
    margin: 3%;
}
#shadow{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

/*--HEADER--*/
header{
    display: flex;
}
.menu__flex{
    display: flex;
    padding: 10%;
    flex-direction: row;
}
#menu{
    height: 8rem;
    padding-top:.5rem;
}
.logo{
    transition: transform .2s;
}
.logo:hover{
    transform: scale(1.1);
}

/*--REDES SOCIALES--*/
.social{
    background-color: $gris_nav;
    .social__copy{
        padding: 2%;
        p{
            color: white;
            margin-left: 2%;
        }
    }
    img{
        margin: 15%;
        padding: 25%;
    }
}


/*--RESPONSIVE--*/
/*--Tablet--*/
@media (min-width: 481px) and (max-width: 991px) {
    .social{
        img{
            margin: 2%;
            padding: 2%;
            justify-content: center;
        }
    }
    .logo{
        height: 90%;
        width: 90%;
    }
    .social__copy{
        text-align: center;
    }
}

/*--Celular--*/
@media (min-width:240px) and (max-width:480px) {
    #body{
        background-color: $gris;
    }
    .logo{
        height: 50%;
        width: 75%;
    }
    .social{
        img{
            margin: 1%;
            padding: 1%;
            height: 30px;
            width: 30px;
            justify-content: center;
        }
    }
    .social__copy{
        text-align: center;
        p{
            font-size: small;
        }
    }
}