/*--DESCRIPCION--*/
.descripcion{
    text-align: center!important;
    line-height: 28px;
    height: 10%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
}

/*--TOP DESTINATIONS--*/
.destinations{
    a{
        color: white;
        font-size: 30px;
        text-align: center;
    }
}
.destinations__color{
    background-color: $gris;
}
.card{
    margin: 30px;
    display: flow-root;
}

/*--ARTICULO APPS--*/
.apps__art{
    border: none;
}
.apps__borde{
    border: 1px solid black;
    width: 70%;
    list-style-position: inside;
    padding: 2%;
    border-radius: 5px;
    background-color: $gris;
}
.apps__sec{
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: 30%;
}

/*--NOSOTROS--*/
.nosotros{
    h2{
        text-align: center;
    }
    p{
        text-align: center;
    }
}

/*--RESPONSIVE--*/
/*--CELULAR--*/
@media (min-width:240px) and (max-width:480px){
    .descripcion{
        font-size: 24px;
        line-height: 28px;
        height: 56px;
        margin-top: 16px;
        margin-bottom: 15%;
        justify-content: center;
    }
}

/*--TABLET--*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .descripcion{
        font-size: 24px;
        line-height: 28px;
        height: 56px;
        margin-top: 16px;
        margin-bottom: 15%;
        justify-content: center;
    }
}