/*--DESCRIPCION--*/
.descripcion{
    text-align: center;
    line-height: 28px;
    height: 10%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
}

/*--TOP DESTINATIONS--*/
.destinations{
    margin-bottom: 10%;
    background-color: $gris;
    a{
        color: white;
        font-size: 30px;
        margin-top: 55px;
    }
    .card{
        margin: 30px;
        display: flow-root;
    }
}

/*--ARTICULO APPS--*/
.apps__sec{
    background-color: $gris;
}
#apps__titulo{
    background-color: $gris_nav!important;
}
#apps__titulo__escritorio{
    background-color: $gris_nav!important;
    margin-bottom: 2%;
}

/*--NOSOTROS--*/
.nosotros{
    display: flex;
    margin: 5%;
    padding: 2%;
    background-color: $gris;
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        margin: 5%;
    }
    img{
        display: flex;
    }
}
    
/*--RESPONSIVE--*/
/*--CELULAR--*/
@media (min-width:240px) and (max-width:480px){
    #body{
        background-color: $gris;
    }
    .descripcion{
        font-size: 24px;
        line-height: 28px;
        height: 56px;
        margin-top: 16px;
        margin-bottom: 55%;
        justify-content: center;
    }
    .nosotros{
        h2{
            font-size: 25px;
        }
        p{
            font-size: 0.9rem;
        }
        img{
            display: none;
        }
    }
    #apps__titulo{
        display: none;
    }
    .apps__sec{
        article{
            margin: 2%;
        }
    }
}

/*--TABLET--*/
@media (min-width: 481px) and (max-width: 991px) {
    .descripcion{
        font-size: 24px;
        line-height: 28px;
        height: 56px;
        margin-top: 16px;
        margin-bottom: 15%;
        justify-content: center;
    }
    .nosotros{
        h2{
            font-size: 25px;
        }
        p{
            font-size: 0.9rem;
        }
        img{
            display: none;
        }
    }
    #apps__titulo{
        display: none;
    }
    .destinations{
        justify-content: center;
    }
}

/*--ESCRITORIO--*/
@media (min-width:992px){
    #apps__titulo__escritorio{
        display: none;
    }
}