/*--DESCRIPCION--*/
.descripcion{
    text-align: center;
    line-height: 28px;
    height: 10%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 2px;
}

/*--TOP DESTINATIONS--*/
.destinations{
    margin-bottom: 10%;
    background-color: $gris;
    a{
        color: white;
        font-size: 30px;
    }
    .card{
        margin: 30px;
        display: flow-root;

    }
}

/*--ARTICULO APPS--*/
.grid_apps{
    display: grid;
    grid-template-areas: "titulo titulo titulo"
                        "google_maps yelp citymapper"
                        "google_translate smartify foursquare"
                        "google_trip transporte xe";
    grid-column-gap: 1.1rem;
    grid-row-gap: 1.1rem;
    background-color: $gris;
    margin: 5%;
    padding-bottom: 1%;
    h3{
        text-align: center;
    }
}
.apps{
    text-align: center;
    }
.titulo{
    grid-area: titulo;
    color: $verde_apps;
    text-align: center;
    border-radius: 30px;
    background-color: $gris_nav;
}
.google_translate{
    grid-area: google_translate;
    text-align: justify;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
}
.transporte{
    grid-area: transporte;
    text-align: justify;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
}
.citymapper{
    grid-area: citymapper;
    text-align: justify;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
}
.smartify{
    grid-area: smartify;
    text-align: justify;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
}
.foursquare{
    grid-area: foursquare;
    text-align: justify;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
}
.google_trip{
    grid-area: google_trip;
    text-align: justify;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
}
.google_maps{
    grid-area: google_maps;
    text-align: justify;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
}
.yelp{
    grid-area: yelp;
    text-align: justify;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
}
.xe{
    grid-area: xe;
    text-align: justify;
    padding: 2%;
    background-color: $verde_apps;
    border-radius: 30px;
}

/*--NOSOTROS--*/
.nosotros{
    display: flex;
    margin: 5%;
    padding: 2%;
    background-color: $gris;
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        margin: 5%;
    }
    img{
        display: flex;
        border-radius: 10px;
    }
}
    
/*--RESPONSIVE--*/
/*--CELULAR--*/
@media (min-width:240px) and (max-width:480px){
    #body{
        background-color: $gris;
    }
    .descripcion{
        font-size: 24px;
        line-height: 28px;
        height: 56px;
        margin-top: 16px;
        margin-bottom: 55%;
        justify-content: center;
    }
    .nosotros{
        h2{
            font-size: 25px;
        }
        p{
            font-size: 0.9rem;
        }
        img{
            display: none;
        }
    }
    .grid_apps{
        display: flex;
        margin: auto;
        padding: auto;
        grid-template-columns: auto;
    }
}

/*--TABLET--*/
@media (min-width: 481px) and (max-width: 991px) {
    .descripcion{
        font-size: 24px;
        line-height: 28px;
        height: 56px;
        margin-top: 16px;
        margin-bottom: 15%;
        justify-content: center;
    }
    .nosotros{
        h2{
            font-size: 25px;
        }
        p{
            font-size: 0.9rem;
        }
        img{
            display: none;
        }
    }
    .destinations{
        justify-content: center;
    }
}

/*--ESCRITORIO
@media (min-width:992px){
    #apps__titulo__escritorio{
        display: none;
    }
}--*/